﻿@using System;
@using System.Collections.Generic;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@using Nop.Web.Framework.UI;
@using System.Web.Mvc;
@using Nop.Web.Framework;
@using Nop.Web.Framework.Mvc;
@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@{
    //logo path
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/images/logo.png";
    var currentVendorEmail = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.Email;
    //store name
    var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
}
<div class="header">
    @Html.Widget("header")
    <div class="header-upper">
        @*<div class="header-selectors-wrapper">
            
            @Html.Action("TaxTypeSelector", "Common")
            
            @Html.Action("CurrencySelector", "Common")
            
            @Html.Action("LanguageSelector", "Common")
            
            @Html.Widget("header_selectors")
        </div>*@
        <div class="header-menu">
            <ul class="nav navbar-nav">
                <li class="headerLogo">
                    <a class="logo" href="/">
                        <img title="" alt="Your store name" src="/Plugins/Bs.VendorSystem/content/img/vendorlogo.jpg">
                    </a>
                </li>
                <li>
                    <a href="~/Vendor">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Product
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/Vendor/ProductList">All Products</a></li>
                        <li><a href="/Vendor/ProductCreate">Add Product</a></li>
                    </ul>
                </li>

                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Orders
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/Vendor/OrderList">Order Management</a></li>
                        <li><a href="/Vendor/ShipmentList">Shipments</a></li>
                        <li><a href="/Vendor/BestsellersReport">Bestsellers</a></li>
                        <li><a href="/Vendor/NeverSoldReport">Products never purchased</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="header-links-wrapper">
            <div class="vendorHeaderLink">
                @*@Html.Action("HeaderLinks", "Common")
                @Html.Action("FlyoutShoppingCart", "ShoppingCart")*@
                <ul>
                    <li><a href="/">Public store</a></li>
                </ul>
                <ul>
                    <li><a href="@Url.RouteUrl("CustomerInfo")" class="ico-account">@currentVendorEmail</a></li>
                </ul>
                <ul>
                    <li><a href="@Url.RouteUrl("Logout")" class="ico-logout">@T("Account.Logout")</a></li>
                </ul>
            </div>
        </div>
    </div>
    @*<div class="header-lower">
        <div class="header-logo">
            <a href="@Url.RouteUrl("HomePage")">
                <img title="" alt="@storeName" src="@Url.Content(logoPath)">
            </a>
        </div>
        <div class="search-box store-search-box">
            @Html.Action("SearchBox", "Catalog")
        </div>
    </div>*@
</div>
