﻿@model ProductModel
@using Nop.Core.Infrastructure
@using Nop.Admin.Models.Catalog
@using Nop.Web.Framework.Events
@using Nop.Services.Events
@using Nop.Core.Domain.Catalog
@using Nop.Services.Catalog

@if (Model.Id > 0)
{
    if (Model.AvailableProductAttributes.Count > 0)
    {
        <div id="productattribute-edit">
            @Html.Action("EditSizeAttributeValuesByProductId", "BsVendor", new { productId = Model.Id })
            @Html.Action("EditColorAttributeValuesByProductId", "BsVendor", new { productId = Model.Id })
        </div>
        <script>
            $(document).ready(function() {
                //$("#productattribute-edit").kendoTabStrip({
                //    animation: {
                //        open: {
                //            effects: "fadeIn"
                //        }
                //    }
                //});
            });
        </script>
    }
    else
    {
        @T("Admin.Catalog.Products.ProductAttributes.NoAttributesAvailable")
    }
}
else
{
    @T("Admin.Catalog.Products.ProductAttributes.SaveBeforeEdit")
}
