﻿@using Nop.Admin.Models.Orders
@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Events
@using Nop.Services.Events
@using Nop.Core.Domain.Tax;
@using Nop.Core.Domain.Orders;
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@using Nop.Admin.Models.Catalog
@using Nop.Core

@{
    Layout = "~/Plugins/Bs.VendorSystem/Views/Shared/_ColumnsOneForMerchant.cshtml";
    //title

}
@model BestsellersReportModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.SalesReport.Bestsellers").Text;
}
<div class="container merchant">

    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-sm-12 pTB-0">
                <div class="merchant-page-title">
                    <h2 class="ptit embo">
                        <b>
                            @T("Admin.SalesReport.Bestsellers")
                        </b>
                    </h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="tabbable merchant-page-body" id="tabs-917755">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#panel-940636" data-toggle="tab">Best sellers</a>
                        </li>
                        @*<li>
                            <a href="#panel-776249" data-toggle="tab">Open</a>
                        </li>*@
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="panel-940636">

                            <a class="btn-filter" data-toggle="collapse" data-parent="#panel-85114">Filter Best Seller Report</a>
                            <div id="panel-element-444277" class="panel-collapse collapse" aria-expanded="false">
                                <div class="panel-body">
                                    @*<div class="table-responsive">*@
                                    <div class="">
                                        <table>
                                            <tr>
                                                <td class="adminTitle">
                                                    @Html.NopLabelFor(model => model.StartDate):
                                                </td>
                                                <td class="adminData">
                                                    @Html.EditorFor(model => model.StartDate)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="adminTitle">
                                                    @Html.NopLabelFor(model => model.EndDate):
                                                </td>
                                                <td class="adminData">
                                                    @Html.EditorFor(model => model.EndDate)
                                                </td>
                                            </tr>
                                            <tr @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
                                                <td class="adminTitle">
                                                    @Html.NopLabelFor(model => model.OrderStatusId):
                                                </td>
                                                <td class="adminData">
                                                    @Html.DropDownList("OrderStatusId", Model.AvailableOrderStatuses)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="adminTitle">
                                                    @Html.NopLabelFor(model => model.PaymentStatusId):
                                                </td>
                                                <td class="adminData">
                                                    @Html.DropDownList("PaymentStatusId", Model.AvailablePaymentStatuses)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="adminTitle">
                                                    @Html.NopLabelFor(model => model.CategoryId):
                                                </td>
                                                <td class="adminData">
                                                    @Html.DropDownList("CategoryId", Model.AvailableCategories)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="adminTitle">
                                                    @Html.NopLabelFor(model => model.ManufacturerId):
                                                </td>
                                                <td class="adminData">
                                                    @Html.DropDownList("ManufacturerId", Model.AvailableManufacturers)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="adminTitle">
                                                    @Html.NopLabelFor(model => model.BillingCountryId):
                                                </td>
                                                <td class="adminData">
                                                    @Html.DropDownList("BillingCountryId", Model.AvailableCountries)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="text-right">
                                                    <input type="button" id="btnSearch" class="submit-button" value="@T("Admin.SalesReport.Bestsellers.RunReport")" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            @*<div class="table-responsive mT-15">*@
                            <div class="mT-15">
                                <table class="adminContent">
                                    <tr>
                                        <td>
                                            <div id="salesreport-grid"></div>

                                            <script>
                                                $(document).ready(function () {
                                                    $("#salesreport-grid").kendoGrid({
                                                        dataSource: {
                                                            type: "json",
                                                            transport: {
                                                                read: {
                                                                    url: "@Html.Raw(Url.Action("BestsellersReportList", "BsVendor", new { area = "" }))",
                                                                    type: "POST",
                                                                    dataType: "json",
                                                                    data: additionalData
                                                                }
                                                            },
                                                            schema: {
                                                                data: "Data",
                                                                total: "Total",
                                                                errors: "Errors"
                                                            },
                                                            error: function(e) {
                                                                display_kendoui_grid_error(e);
                                                                // Cancel the changes
                                                                this.cancelChanges();
                                                            },
                                                            pageSize: @(defaultGridPageSize),
                                                            serverPaging: true,
                                                            serverFiltering: true,
                                                            serverSorting: true
                                                        },
                                                        pageable: {
                                                            refresh: true,
                                                            pageSizes: [@(gridPageSizes)]
                                                        },
                                                        editable: {
                                                            confirmation: false,
                                                            mode: "inline"
                                                        },
                                                        scrollable: false,
                                                        columns: [{
                                                            field: "ProductName",
                                                            title: "@T("Admin.SalesReport.Bestsellers.Fields.Name")"
                                                        }, {
                                                            field: "TotalQuantity",
                                                            title: "@T("Admin.SalesReport.Bestsellers.Fields.TotalQuantity")"
                                                        },{
                                                            field: "TotalAmount",
                                                            title: "@T("Admin.SalesReport.Bestsellers.Fields.TotalAmount")"
                                                        },{
                                                            field: "ProductId",
                                                            title: "@T("Admin.Common.View")",
                                                            width: 100,
                                                            template: '<a href="@Url.Content("ProductEdit/")#=ProductId#">@T("Admin.Common.View")</a>'
                                                        }]
                                                    });
                                                });
                                            </script>

                                            <script type="text/javascript">

                                                $(document).ready(function () {

                                                    $('#btnSearch').click(function () {
                                                        var grid = $('#salesreport-grid').data('kendoGrid');
                                                        grid.dataSource.page(1); //new search. Set page size to 1
                                                        grid.dataSource.read();
                                                        return false;
                                                    });

                                                });

                                                function additionalData() {
                                                    return {
                                                        StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                                                        EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                                                        OrderStatusId: $('#OrderStatusId').val(),
                                                        PaymentStatusId: $('#PaymentStatusId').val(),
                                                        CategoryId: $('#CategoryId').val(),
                                                        ManufacturerId: $('#ManufacturerId').val(),
                                                        BillingCountryId: $('#BillingCountryId').val()
                                                    };
                                                }

                                            </script>
                                        </td>
                                    </tr>
                                </table>
                            </div>


                        </div>
                        <div class="tab-pane" id="panel-776249">
                            <p>
                                Open
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

<script>
    $(document).ready(function() {
        $('.btn-filter').click(function() {
            $('#panel-element-444277').slideToggle("fast");
        });
    });
</script>