﻿@model VendorRegisterModel
@using Nop.Plugin.Bs.VendorSystem.Models
@using Nop.Web.Framework
@using Nop.Web.Framework.Security.Captcha
@using Nop.Web.Framework.Security.Honeypot
@using Nop.Web.Framework.UI
@using Nop.Web.Models.Customer;

<div class="page registration-page">
    <div class="title">
        <h1>@T("Vendor.additionalField.Edit")</h1>
    </div>
    <div class="page-body">
        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.AlternatePhoneNumber):
                </td>
                <td class="adminData">
                    @Html.EditorFor(x => x.AlternatePhoneNumber, new { htmlAttributes = new { @class = "required" } })
                    @*@Html.ValidationMessageFor(model => model.AlternatePhoneNumber)*@
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.StoreName):
                </td>
                <td class="adminData">
                    @Html.EditorFor(x => x.StoreName, new { htmlAttributes = new { @class = "required" } })
                    @*@Html.ValidationMessageFor(model => model.StoreName)*@
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.Url):
                </td>
                <td class="adminData">
                    @Html.EditorFor(x => x.Url, new { htmlAttributes = new { @class = "required" } })
                    @*@Html.ValidationMessageFor(model => model.Url)*@
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.Describe):
                </td>
                <td class="adminData">
                    @Html.EditorFor(x => x.Describe, new { htmlAttributes = new { @class = "required" } })
                    @*@Html.ValidationMessageFor(model => model.Describe)*@
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.BankName):
                </td>
                <td class="adminData">
                    @Html.EditorFor(x => x.BankName, new { htmlAttributes = new { @class = "required" } })
                    @*@Html.ValidationMessageFor(model => model.BankName)*@
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.BankAccountName):
                </td>
                <td class="adminData">
                    @Html.EditorFor(x => x.BankAccountName, new { htmlAttributes = new { @class = "required" } })
                    @*@Html.ValidationMessageFor(model => model.BankAccountName)*@
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.BankAccountNumber):
                </td>
                <td class="adminData">
                    @Html.EditorFor(x => x.BankAccountNumber, new { htmlAttributes = new { @class = "required" } })
                    @*@Html.ValidationMessageFor(model => model.BankAccountNumber)*@
                </td>
            </tr>
        </table>
        <div class="buttons">
            <input type="button" id="vendorUpdate-button" class="k-button" value="@T("Account.AdditionalField.Save.Button")" name="register-button" />
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
    $("input[id$='vendorUpdate-button']").click(function (e) {
        var isValid = true;
        $('input[type="text"].required').each(function() {
            if ($.trim($(this).val()) == '') {
                isValid = false;
                $(this).css({
                    "background": "#ffe6e6"
                });
            }
            else {
                $(this).css({
                    "background": ""
                });
            }
        });
        if (isValid == false) {
            $(".message-box").remove();
            $(".content").prepend('<div class="message-box message-box-error"> Error Pleae Fill All Attribute</div>');
            e.preventDefault();
        }
            
        else
            {
            var postData = {
                AlternatePhoneNumber: $('#AlternatePhoneNumber').val(),
                StoreName: $('#StoreName').val(),
                Url: $('#Url').val(),
                Describe: $('#Describe').val(),
                BankName: $('#BankName').val(),
                BankAccountName: $('#BankAccountName').val(),
                BankAccountNumber: $('#BankAccountNumber').val(),
                VendorId: $('#Id').val()
            };
        addAntiForgeryToken(postData);

        $.ajax({
            cache: false,
            url: "/bsvendorUpdate",
            type: 'post',
            data: postData,
            success: function (data) {
                $(".message-box").remove();
                $(".content").prepend('<div class="message-box message-box-success">The vendor has been updated successfully.</div>');

            },
            complete: function () {
            },
            error: function () {
                $(".message-box").remove();
                $(".content").prepend('<div class="message-box message-box-error">The vendor Not updated </div>');

            }
        });
}
    });
    });

    //$(document).ready(function () {
    //    $("input[id$='vendorUpdate-button']").click(function () {

    //        var postData = {
    //            AlternatePhoneNumber: $('#AlternatePhoneNumber').val(),
    //            StoreName: $('#StoreName').val(),
    //            Url: $('#Url').val(),
    //            Describe: $('#Describe').val(),
    //            BankName: $('#BankName').val(),
    //            BankAccountName: $('#BankAccountName').val(),
    //            BankAccountNumber: $('#BankAccountNumber').val(),
    //            VendorId: $('#Id').val()
    //        };
    //        addAntiForgeryToken(postData);

    //        $.ajax({
    //            cache: false,
    //            url: "/bsvendorUpdate",
    //            type: 'post',
    //            data: postData,
    //            success: function (data) {
    //                $(".content").prepend('<div class="message-box message-box-success">The vendor has been updated successfully.</div>');

    //            },
    //            complete: function () {
    //            },
    //            error: function () {
    //                $(".content").prepend('<div class="message-box message-box-error">The vendor Not updated </div>');

    //            }
    //        });

    //    });
    //});
</script>
