﻿@using System;
@using System.Collections.Generic;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@using Nop.Web.Framework.UI;
@using System.Web.Mvc;
@using Nop.Web.Framework;
@using Nop.Web.Framework.Mvc;
@using Nop.Core.Domain.Common;
@model DashBoardModel
@using Nop.Plugin.Bs.VendorSystem.Models

@{
    ViewBag.Title = "Merchant";
    Layout = "~/Plugins/Bs.VendorSystem/Views/Shared/_ColumnsOneForMerchant.cshtml";
    Html.AppendCssFileParts("~/Plugins/Bs.VendorSystem/content/style/circle.css");
}

<div class="container merchant vendordashboard">
    @using (Html.BeginForm())
    {
       
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable merchant-page-body vendordashboard" id="tabs-917755">
                    <div class="dashboardtitle-area">
                        <h1 class="title"><img src="~/Plugins/Bs.VendorSystem/content/img/dashboard_icon.svg.png"> Dashboard</h1>
                        <ul class="page-actions">
                            <li class="action">
                                <a href="/Vendor/ProductCreate" class="dasboardbutton"><i class="icon-tags"></i>Add New Product</a>
                            </li>

                        </ul>
                    </div>
                    <div class="dashboardcard data-card ">
                        <section class="card-header">
                            <h5 class="title">STORE SUMMARY</h5>
                            <span class="right">Vendore Created: <span>@Model.VendorJoiningDate</span></span>
                        </section>
                        <div class="card-content data-container _3">
                            <div class="datum">
                                <div class="data ng-binding" ng-class="{'shq-waiting': dashboardVm.merchantsDataPending}">
                                   @Model.OrderPenddingTotal
                                </div>
                                <div class="title">
                                    @T("TOTAL_PENDING_ORDERS")
                                    
                                </div>
                            </div>
                            <div class="datum">
                                <div class="data" ng-class="{'shq-waiting': merchantsDataPending}">
                                    @Model.OrderPendingTotalQuintity
                                </div>
                                <div class="title">
                                    @T("PENDING_ORDERS")
                                   
                                </div>
                            </div>
                            <div class="datum">
                                <div class="data ng-binding" ng-class="{'shq-waiting': dashboardVm.merchantsDataPending}">
                                    @Model.VendorCreateTotalYearMonth

                                </div>
                                <div class="title">
                                    SELLING ON OBEEZI
                                </div>
                            </div>
                        </div>
                    </div>
                    <div></div>
                    <div class="dashboardcard data-card">
                        <section class="card-header">
                            <h5 class="title">STORE PERFOMANCE</h5>
                        </section>
                        <div class="card-content data-container _4">
                            <div class="datum has-progress">
                                <div class="data ng-binding" ng-class="{'shq-waiting': dashboardVm.ratingsDataPending}">
                                    @Model.OrderCompletedTotal
                                </div>
                                <div class="title">
                                    COMPLETED ORDERS
                                </div>
                            </div>
                            <div class="datum has-progress">
                                @*<div class="data" ng-class="{'shq-waiting': dashboardVm.ratingsDataPending}">
                                    <div class="progress ng-isolate-scope" id="progress-0" color="71B92E" shq-progress-bar=".83" value="dashboardVm.performance.productQuality" vm="dashboardVm" max="100"><svg viewBox="0 0 100 100"><path d="M 50,50 m 0,-42 a 42,42 0 1 1 0,84 a 42,42 0 1 1 0,-84" stroke="#EFF3F6" stroke-width="16" fill-opacity="0"></path><path d="M 50,50 m 0,-42 a 42,42 0 1 1 0,84 a 42,42 0 1 1 0,-84" stroke="#71B92E" stroke-width="16" fill-opacity="0" style="stroke-dasharray: 263.931, 263.931; stroke-dashoffset: 44.8683;"></path></svg></div>
                                    <span class="count ng-binding">83<small>%</small></span>
                                </div>*@
                                <div class="c100 p83 small green">
                                    <span>83%</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                                <div class="title">
                                    PRODUCT QUALITY
                                </div>
                            </div>
                            <div class="datum has-progress">
                                @*<div class="data" ng-class="{'shq-waiting': dashboardVm.ratingsDataPending}">
                                    <div class="progress ng-isolate-scope" id="progress-1" color="FBA100" shq-progress-bar=".72" value="dashboardVm.performance.deliveryRate" vm="dashboardVm" max="100"><svg viewBox="0 0 100 100"><path d="M 50,50 m 0,-42 a 42,42 0 1 1 0,84 a 42,42 0 1 1 0,-84" stroke="#EFF3F6" stroke-width="16" fill-opacity="0"></path><path d="M 50,50 m 0,-42 a 42,42 0 1 1 0,84 a 42,42 0 1 1 0,-84" stroke="#71B92E" stroke-width="16" fill-opacity="0" style="stroke-dasharray: 263.931, 263.931; stroke-dashoffset: 73.9007;"></path></svg></div>
                                    <span class="count ng-binding">72<small>%</small></span>
                                </div>*@
                                <div class="c100 p72 small green">
                                    <span>72%</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                                <div class="title">
                                    DELIVERY RATE
                                </div>
                            </div>
                            <div class="datum has-progress">
                                @*<div class="data" ng-class="{'shq-waiting': dashboardVm.ratingsDataPending}">
                                    <div class="progress ng-isolate-scope" id="progress-2" color="DF1F00" shq-progress-bar=".72" value="dashboardVm.performance.communicationQuality" vm="dashboardVm" max="100"><svg viewBox="0 0 100 100"><path d="M 50,50 m 0,-42 a 42,42 0 1 1 0,84 a 42,42 0 1 1 0,-84" stroke="#EFF3F6" stroke-width="16" fill-opacity="0"></path><path d="M 50,50 m 0,-42 a 42,42 0 1 1 0,84 a 42,42 0 1 1 0,-84" stroke="#71B92E" stroke-width="16" fill-opacity="0" style="stroke-dasharray: 263.931, 263.931; stroke-dashoffset: 73.9007;"></path></svg></div>
                                    <span class="count ng-binding">72<small>%</small></span>
                                </div>*@
                                <div class="c100 p72 small green">
                                    <span>72%</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                                <div class="title">
                                    COMMUNICATION
                                </div>
                            </div>
                        </div>
                    </div>
                    <div></div>
                    <div class="dashboardcard data-card ">
                        <table class="stats">
                            <tr>
                                <td class="bestsellers">
                                    <div class="statisticsTitle">
                                        @T("Admin.SalesReport.BestSellers.ByQuantity")
                                    </div>
                                    @Html.Action("BestsellersBriefReportByQuantity", "BsVendor")
                                </td>
                            </tr>
                           
                        </table>
                    </div>
                    <div></div>
                    <div class="dashboardcard data-card ">
                        <table class="stats">
                            <tr>
                                <td class="bestsellers">
                                    <div class="statisticsTitle">
                                        @T("Admin.SalesReport.BestSellers.ByAmount")
                                    </div>
                                    @Html.Action("BestsellersBriefReportByAmount", "BsVendor")
                                </td>
                            </tr>

                        </table>
                    </div>
                  </div>
            </div>
        </div>

    }

</div>



