﻿@using Nop.Core.Domain.Catalog
@model ProductListModel
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@using Nop.Admin.Models.Catalog
@using Nop.Core;

@{
    Layout = "~/Plugins/Bs.VendorSystem/Views/Shared/_ColumnsOneForMerchant.cshtml";
    //Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    //Html.AddCssFileParts("~/Plugins/Bs.VendorSystem/content/style/merchant-style.css");
    //Html.AddCssFileParts("~/Plugins/Bs.VendorSystem/content/bootstrap-3.3.5/css/bootstrap.min.css");
    //page title
    ViewBag.Title = T("Admin.Catalog.Products.List").Text;
}
@{
    var defaultGridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Catalog.Products.Manage").Text;
    Model.SearchIncludeSubCategories = true;
}
<div class="container">

    <div class="row">
        <div class="col-sm-12 pTB-0">
            <div class="merchant-page-title">
                <h2 class="ptit embo">
                    <span class="icon-gt icon-add-red">&nbsp;</span>
                    <b>
                        @T("Admin.Catalog.Products.Manage")
                    </b>
                </h2>
                <div class="controller">
                    @*<div class="group-btn">
                        <a href="" class="btns-gray-embo btn-sort">Organize</a>
                        <a href="" class=" btns-gray-embo btn-export">Export</a>
                        <a href="" class="btns-gray-embo btn-import">Import</a>
                    </div>*@
                    <a href="@Url.Action("Create")" class="add-product submit-button">@T("Admin.Common.AddNew")</a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="tabbable merchant-page-body" id="tabs-917755">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#panel-940636" data-toggle="tab">All Products</a>
                    </li>
                    @*<li>
                        <a href="#panel-776249" data-toggle="tab">Active</a>
                    </li>*@
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="panel-940636">
                        @using (Html.BeginForm())
                        {
                            <div class="row clearfix products-filter-panel">
                                <div class="col-sm-12">
                                    <a class="btn-product-filter" data-toggle="collapse">Filter Products</a>
                                    <div id="products-filter-panel-content" class="panel-collapse collapse filter-panel-content" aria-expanded="false">
                                        <div class="products-filter">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                                    @Html.LabelFor(model => model.SearchProductName, new { @class = "text-box-label" })
                                                </div>
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    @Html.EditorFor(model => model.SearchProductName)
                                                </div>
                                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                                    @Html.LabelFor(model => model.SearchStoreId, new { @class = "text-box-label" })
                                                </div>
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    @Html.DropDownList("SearchStoreId", Model.AvailableStores)
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                                    @Html.LabelFor(model => model.SearchCategoryId, new { @class = "text-box-label" })
                                                </div>
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    @Html.DropDownList("SearchCategoryId", Model.AvailableCategories)
                                                </div>
                                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                                    @Html.LabelFor(model => model.SearchManufacturerId, new { @class = "text-box-label" })
                                                </div>
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    @Html.DropDownList("SearchManufacturerId", Model.AvailableManufacturers)
                                                </div>
                                            </div>

                                            @*<div class="row">
                                                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                                        @Html.LabelFor(model => model.SearchStoreId, new { @class = "text-box-label" })
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                        @Html.DropDownList("SearchStoreId", Model.AvailableStores)
                                                    </div>
                                                    <div @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
                                                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                                            @Html.LabelFor(model => model.SearchVendorId, new { @class = "text-box-label" })
                                                        </div>
                                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                            @Html.DropDownList("SearchVendorId", Model.AvailableVendors)
                                                        </div>
                                                    </div>
                                                </div>*@

                                            <div class="row" style="display:none;">
                                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                    @Html.NopLabelFor(model => model.SearchIncludeSubCategories):
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    @Html.EditorFor(model => model.SearchIncludeSubCategories)
                                                </div>
                                                <div class="hidden-xs col-sm-3 col-md-3 col-lg-3"></div>
                                            </div>
                                            <div class="row" style="display:none;">
                                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                    @Html.NopLabelFor(model => model.SearchWarehouseId):
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    @Html.DropDownList("SearchWarehouseId", Model.AvailableWarehouses)
                                                </div>
                                                <div class="hidden-xs col-sm-3 col-md-3 col-lg-3"></div>
                                            </div>
                                            <div class="row" style="display:none;">
                                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                    @Html.NopLabelFor(model => model.SearchProductTypeId):
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    @Html.DropDownList("SearchProductTypeId", Model.AvailableProductTypes)
                                                </div>
                                                <div class="hidden-xs col-sm-3 col-md-3 col-lg-3"></div>
                                            </div>
                                            <div class="row" style="display:none;">
                                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                    @Html.NopLabelFor(model => model.GoDirectlyToSku):
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    @Html.EditorFor(model => model.GoDirectlyToSku)
                                                </div>
                                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                    <input type="submit" id="go-to-product-by-sku" name="go-to-product-by-sku" class="k-button" value="@T("Admin.Common.Go")" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <input type="button" id="search-products" class="pull-right submit-button" value="@T("Admin.Common.Search")" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<div class="table-responsive mT-15">*@
    <div class="mT-15">
        <div class="table-condensed">
            <table class="adminContent">
                <tr>
                    <td>
                        <div id="products-grid"></div>
                        <script>
                            $(document).ready(function() {
                                $("#products-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("ProductList", "BsVendor"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    editable: {
                                        confirmation: false,
                                        mode: "inline"
                                    },
                                    scrollable: false,
                                    dataBound: onDataBound,
                                    columns: [
                                        {
                                            field: "Id",
                                            headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                            width: 50
                                        },
                                        @*@if (Model.DisplayProductPictures)
                                                                {
                                                                    <text>{
                                                                    field: "PictureThumbnailUrl",
                                                                    title: "@T("Admin.Catalog.Products.Fields.PictureThumbnailUrl")",
                                                                    template: '<img class="plp" src="#=PictureThumbnailUrl#" />',
                                                                    width: 200
                                                                },</text>
                                                                }*@
                                          {
                                              field: "PictureThumbnailUrl",
                                              title: "@T("Admin.Catalog.Products.Fields.PictureThumbnailUrl")",
                                              template: '<img src="#=PictureThumbnailUrl#" />',
                                              width: 100
                                          },
                                        {
                                            field: "Name",
                                            title: "@T("Admin.Catalog.Products.Fields.Name")",
                                            width: 300
                                        }, {
                                            field: "Sku",
                                            title: "@T("Admin.Catalog.Products.Fields.Sku")",
                                            width: 100
                                        }, {
                                            field: "Price",
                                            title: "@T("Admin.Catalog.Products.Fields.Price")",
                                            width: 150,
                                            //if not a grouped product, then display
                                            template: "# if(ProductTypeId != @((int)ProductType.GroupedProduct)) {# #:Price# #}  #"
                                        }, {
                                            field: "StockQuantity",
                                            title: "@T("Admin.Catalog.Products.Fields.StockQuantity")",
                                            width: 100,
                                            //if not a grouped product
                                            //AND "manage inventory" is "Track inventory"
                                            //then display
                                            template: "# if(ProductTypeId != @((int)ProductType.GroupedProduct) && ManageInventoryMethodId == @((int)ManageInventoryMethod.ManageStock)) {# #:StockQuantity# #}  #"
                                        }, {
                                            field: "ProductTypeName",
                                            title: "@T("Admin.Catalog.Products.Fields.ProductType")",
                                            width: 100
                                        }, {
                                            field: "Published",
                                            title: "@T("Admin.Catalog.Products.Fields.Published")",
                                            width: 100,
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=Published#.gif" />'
                                        }, {
                                            field: "Id",
                                            title: "@T("Admin.Common.Edit")",
                                            width: 100,
                                            template: '<a href="ProductEdit/#=Id#">@T("Admin.Common.Edit")</a>'
                                        }
                                    ]
                                } );
                            });
                        </script>
                    </td>
                </tr>
            </table>
        </div>
    </div>
                        }
                    </div>
                    <div class="tab-pane" id="panel-776249">
                        <p>
                            Active product
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>













    <div class="page merchant-page-body" style="display:none;">
        @using (Html.BeginForm())
        {
        <div class="page-title">
            <h1>
                @T("Admin.Catalog.Products.Manage")
                <a href="@Url.Action("Create")" class="pull-right add-product submit-button">@T("Admin.Common.AddNew")</a>
            </h1>
        </div>
        <div class="row clearfix products-filter-panel">
            <div class="col-sm-12">
                <a class="btn-product-filter" data-toggle="collapse" href="#products-filter-panel-content">Filter Products</a>
                <div id="products-filter-panel-content" class="panel-collapse collapse filter-panel-content" aria-expanded="false">
                    <div class="products-filter">
                        <div class="row">
                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                @Html.LabelFor(model => model.SearchProductName, new { @class = "text-box-label" })
                            </div>
                            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                                @Html.EditorFor(model => model.SearchProductName)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                @Html.LabelFor(model => model.SearchCategoryId, new { @class = "text-box-label" })
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                @Html.DropDownList("SearchCategoryId", Model.AvailableCategories)
                            </div>
                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                @Html.LabelFor(model => model.SearchManufacturerId, new { @class = "text-box-label" })
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                @Html.DropDownList("SearchManufacturerId", Model.AvailableManufacturers)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                @Html.LabelFor(model => model.SearchStoreId, new { @class = "text-box-label" })
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                @Html.DropDownList("SearchStoreId", Model.AvailableStores)
                            </div>
                            <div @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                    @Html.LabelFor(model => model.SearchVendorId, new { @class = "text-box-label" })
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    @Html.DropDownList("SearchVendorId", Model.AvailableVendors)
                                </div>
                            </div>
                        </div>

                        <div class="row" style="display:none;">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                @Html.NopLabelFor(model => model.SearchIncludeSubCategories):
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                @Html.EditorFor(model => model.SearchIncludeSubCategories)
                            </div>
                            <div class="hidden-xs col-sm-3 col-md-3 col-lg-3"></div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                @Html.NopLabelFor(model => model.SearchWarehouseId):
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                @Html.DropDownList("SearchWarehouseId", Model.AvailableWarehouses)
                            </div>
                            <div class="hidden-xs col-sm-3 col-md-3 col-lg-3"></div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                @Html.NopLabelFor(model => model.SearchProductTypeId):
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                @Html.DropDownList("SearchProductTypeId", Model.AvailableProductTypes)
                            </div>
                            <div class="hidden-xs col-sm-3 col-md-3 col-lg-3"></div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                @Html.NopLabelFor(model => model.GoDirectlyToSku):
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                @Html.EditorFor(model => model.GoDirectlyToSku)
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <input type="submit" id="go-to-product-by-sku" name="go-to-product-by-sku" class="k-button" value="@T("Admin.Common.Go")" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="button" id="search-products" class="pull-right submit-button" value="@T("Admin.Common.Search")" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                @*<div class="table-responsive">*@
                <div class="">
                    <div class="table-condensed">
                        <table class="adminContent">
                            <tr>
                                <td>
                                    <div id="products-grid"></div>
                                    <script>
                                        $(document).ready(function() {
                                            $("#products-grid").kendoGrid({
                                                dataSource: {
                                                    type: "json",
                                                    transport: {
                                                        read: {
                                                            url: "@Html.Raw(Url.Action("ProductList", "BsVendor"))",
                                                            type: "POST",
                                                            dataType: "json",
                                                            data: additionalData
                                                        }
                                                    },
                                                    schema: {
                                                        data: "Data",
                                                        total: "Total",
                                                        errors: "Errors"
                                                    },
                                                    error: function(e) {
                                                        display_kendoui_grid_error(e);
                                                        // Cancel the changes
                                                        this.cancelChanges();
                                                    },
                                                    pageSize: @(defaultGridPageSize),
                                                    serverPaging: true,
                                                    serverFiltering: true,
                                                    serverSorting: true
                                                },
                                                pageable: {
                                                    refresh: true,
                                                    pageSizes: [@(gridPageSizes)]
                                                },
                                                editable: {
                                                    confirmation: false,
                                                    mode: "inline"
                                                },
                                                scrollable: false,
                                                dataBound: onDataBound,
                                                columns: [
                                                    {
                                                        field: "Id",
                                                        headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                                        headerAttributes: { style: "text-align:center" },
                                                        attributes: { style: "text-align:center" },
                                                        template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                                        width: 50
                                                    },
                                                    @*@if (Model.DisplayProductPictures)
                                                        {
                                                            <text>{
                                                            field: "PictureThumbnailUrl",
                                                            title: "@T("Admin.Catalog.Products.Fields.PictureThumbnailUrl")",
                                                            template: '<img class="plp" src="#=PictureThumbnailUrl#" />',
                                                            width: 200
                                                        },</text>
                                                        }*@
                                                      {
                                                          field: "PictureThumbnailUrl",
                                                          title: "@T("Admin.Catalog.Products.Fields.PictureThumbnailUrl")",
                                                          template: '<img src="#=PictureThumbnailUrl#" />',
                                                          width: 100
                                                      },
                                                    {
                                                        field: "Name",
                                                        title: "@T("Admin.Catalog.Products.Fields.Name")",
                                                        width: 300
                                                    }, {
                                                        field: "Sku",
                                                        title: "@T("Admin.Catalog.Products.Fields.Sku")",
                                                        width: 100
                                                    }, {
                                                        field: "Price",
                                                        title: "@T("Admin.Catalog.Products.Fields.Price")",
                                                        width: 150,
                                                        //if not a grouped product, then display
                                                        template: "# if(ProductTypeId != @((int)ProductType.GroupedProduct)) {# #:Price# #}  #"
                                                    }, {
                                                        field: "StockQuantity",
                                                        title: "@T("Admin.Catalog.Products.Fields.StockQuantity")",
                                                        width: 100,
                                                        //if not a grouped product
                                                        //AND "manage inventory" is "Track inventory"
                                                        //then display
                                                        template: "# if(ProductTypeId != @((int)ProductType.GroupedProduct) && ManageInventoryMethodId == @((int)ManageInventoryMethod.ManageStock)) {# #:StockQuantity# #}  #"
                                                    }, {
                                                        field: "ProductTypeName",
                                                        title: "@T("Admin.Catalog.Products.Fields.ProductType")",
                                                        width: 100
                                                    }, {
                                                        field: "Published",
                                                        title: "@T("Admin.Catalog.Products.Fields.Published")",
                                                        width: 100,
                                                        headerAttributes: { style: "text-align:center" },
                                                        attributes: { style: "text-align:center" },
                                                        template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=Published#.gif" />'
                                                    }, {
                                                        field: "Id",
                                                        title: "@T("Admin.Common.Edit")",
                                                        width: 100,
                                                        template: '<a href="ProductEdit/#=Id#">@T("Admin.Common.Edit")</a>'
                                                    }
                                                ]
                                            } );
                                        });
                                    </script>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <script type="text/javascript">

                var selectedIds = [];

                $(document).ready(function () {

                    //search button
                    $('#search-products').click(function () {
                        //search
                        var grid = $('#products-grid').data('kendoGrid');
                        grid.dataSource.page(1); //new search. Set page size to 1
                        //grid.dataSource.read(); we already loaded the grid above using "page" function
                        //clear selected checkboxes
                        $('.checkboxGroups').attr('checked', false).change();
                        selectedIds = [];
                        return false;
                    });

                    $("#@Html.FieldIdFor(model => model.SearchProductName)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#search-products").click();
                            return false;
                        }
                    });
                    $("#@Html.FieldIdFor(model => model.GoDirectlyToSku)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#go-to-product-by-sku").click();
                            return false;
                        }
                    });

                    //delete selected
                    $('#delete-selected').click(function(e) {

                        e.preventDefault();

                        var postData = {
                            selectedIds: selectedIds
                        };

                        $.ajax({
                            cache: false,
                            type: "POST",
                            url: "@(Url.Action("DeleteSelected", "Product", new { area = "Admin" }))",
                            data: postData,
                            complete: function(data) {
                                //reload grid
                                var grid = $('#products-grid').data('kendoGrid');
                                grid.dataSource.read();
                            },
                            error: function(xhr, ajaxOptions, thrownError) {
                                alert(thrownError);
                            },
                            traditional: true
                        });
                        return false;
                    });

                    $('#mastercheckbox').click(function () {
                        $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                    });

                    //wire up checkboxes.
                    $('#products-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                        var $check = $(this);
                        if ($check.is(":checked") == true) {
                            var checked = jQuery.inArray($check.val(), selectedIds);
                            if (checked == -1) {
                                //add id to selectedIds.
                                selectedIds.push($check.val());
                            }
                        }
                        else {
                            var checked = jQuery.inArray($check.val(), selectedIds);
                            if (checked > -1) {
                                //remove id from selectedIds.
                                selectedIds = $.grep(selectedIds, function (item, index) {
                                    return item != $check.val();
                                });
                            }
                        }
                        updateMasterCheckbox();
                    });
                });

                function additionalData() {
                    return {
                        SearchProductName: $('#@Html.FieldIdFor(model => model.SearchProductName)').val(),
                        SearchCategoryId: $('#SearchCategoryId').val(),
                        SearchIncludeSubCategories: $('#@Html.FieldIdFor(model => model.SearchIncludeSubCategories)').is(':checked'),
                        SearchManufacturerId: $('#SearchManufacturerId').val(),
                        SearchStoreId: $('#SearchStoreId').val(),
                        SearchWarehouseId: $('#SearchWarehouseId').val(),
                        SearchVendorId: $('#SearchVendorId').val(),
                        SearchProductTypeId: $('#SearchProductTypeId').val()
                    };
                }

                function onDataBound(e) {
                    $('#products-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                        var currentId = $(this).val();
                        var checked = jQuery.inArray(currentId, selectedIds);
                        //set checked based on if current checkbox's value is in selectedIds.
                        $(this).attr('checked', checked > -1);
                    });

                    updateMasterCheckbox();
                }

                function updateMasterCheckbox() {
                    var numChkBoxes = $('#products-grid input[type=checkbox][id!=mastercheckbox]').length;
                    var numChkBoxesChecked = $('#products-grid input[type=checkbox][checked][id!=mastercheckbox]').length;
                    $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                }
        </script>
        }


        @*import products form*@
        <div id="importexcel-window" style="display:none;">
            @using (Html.BeginForm("ImportExcel", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <table style="text-align:left;">
                <tr>
                    <td colspan="2">
                        <em>@T("Admin.Catalog.Products.List.ImportFromExcelTip")</em>
                    </td>
                </tr>
                <tr>
                    <td>
                        @T("Admin.Common.ExcelFile"):
                    </td>
                    <td>
                        <input type="file" id="importexcelfile" name="importexcelfile" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" class="k-button" value="@T("Admin.Common.ImportFromExcel")" />
                    </td>
                </tr>
            </table>
            }
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#importexcel").click(function (e) {
                    e.preventDefault();
                    var window = $("#importexcel-window");
                    if (!window.data("kendoWindow")) {
                        window.kendoWindow({
                            modal: true,
                            width: "400px",
                            title: "@T("Admin.Common.ImportFromCsv")",
                            actions: ["Close"]
                        });
                    }
                    window.data('kendoWindow').center().open();
                });
            });
        </script>

        @*export selected (XML). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
        @using (Html.BeginForm("ExportXmlSelected", "Product", FormMethod.Post, new { id = "export-xml-selected-form" }))
        {
        <input type="hidden" id="selectedIds" name="selectedIds" value="" />
        }
        <script type="text/javascript">

            $(document).ready(function () {
                $('#exportxml-selected').click(function (e) {
                    e.preventDefault();
                    var ids = selectedIds.join(",");
                    $('#export-xml-selected-form #selectedIds').val(ids);
                    $('#export-xml-selected-form').submit();
                    return false;
                });
            });

        </script>

        @*export selected (Excel). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
        @using (Html.BeginForm("ExportExcelSelected", "Product", FormMethod.Post, new { id = "export-excel-selected-form", area = "Admin" }))
        {
        <input type="hidden" id="selectedIds" name="selectedIds" value="" />
        }
        <script type="text/javascript">

            $(document).ready(function () {
                $('#exportexcel-selected').click(function (e) {
                    e.preventDefault();
                    var ids = selectedIds.join(",");
                    $('#export-excel-selected-form #selectedIds').val(ids);
                    $('#export-excel-selected-form').submit();
                    return false;
                });
            });

        </script>

    </div>
</div>
<script>
    $(document).ready(function() {
        $('.btn-product-filter').click(function() {
            $('#products-filter-panel-content').slideToggle("fast");
        });
    });
</script>