﻿@model VendorRegisterModel
@using Nop.Plugin.Bs.VendorSystem.Models
@using Nop.Web.Framework
@using Nop.Web.Framework.Security.Captcha
@using Nop.Web.Framework.Security.Honeypot
@using Nop.Web.Framework.UI
@using Nop.Web.Models.Customer;

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts(T("PageTitle.Register").Text);
    Html.AddCssFileParts("~/Plugins/Bs.VendorSystem/Content/Style/MarketPlace.css");
}
`
<div class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="wk_mp_design wk_mp_landingpage">
                <div class="wk_mp_banner_container">
                    <div class="wk_mp_banner">
                        <div class="wk_mp_header">
                            <h1>Reach millions of buyers across Nigeria with a touch</h1>
                            <h2>
                                Create Your Online Store On Obeezi Today!
                            </h2><h2>Expand Your Horizons!</h2>
                            <p>
                                <a href="@Url.Action("VendorRegistration", "BsVendor")">
                                    <button class="button wk_mp_landing_button">
                                        <span>
                                            <span>
                                                <strong>Register to Start Selling Now</strong>
                                            </span>
                                        </span>
                                    </button>
                                </a>
                                <a href="~/vendor/login">
                                    <button class="button wk_mp_landing_button">
                                        <span>
                                            <span>
                                                <strong>Existing Seller? Login Here</strong>
                                            </span>
                                        </span>
                                    </button>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <section class="contentArea">
                <div id="howitworks" class="how">
                    <h2>How it works</h2>
                    <div class="steps">
                        <ul>
                            <li class="step1">
                                <span class="num ">1 </span>
                                <div>
                                    <h4>CREATE YOUR STORE</h4>
                                    <p>
                                        Register your store with a unique Store URL.
                                    </p>
                                </div>
                            </li>
                            <li class="step2">
                                <span class="num ">2</span>
                                <h4>CREATE YOUR PRODUCTS</h4>
                                <p>
                                    Create your products, set your own prices, and make them available for purchase.
                                </p>
                            </li>
                            <li class="step3">
                                <span class="num step3">3</span>
                                <h4>SELL TO MILLIONS OF BUYERS</h4>
                                <p>
                                    Manage your orders, receive sales proceeds and generate more revenue.
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="laptop"><img src="/Plugins/Bs.VendorSystem/Content/img/marketplace/how2.jpg"></div>
                </div>
                <div class="why">
                    <h2>WHY SELL ON OBEEZI</h2>
                    <div class="row">
                        <div class="card">
                            <div class="card-content yellow">
                                <img src="/Plugins/Bs.VendorSystem/Content/img/marketplace/kinnion_earn_money.png">
                                <h3>GENERATE MORE MONEY</h3>
                                <p>
                                    Obeezi is your one-stop online fashion shopping mall in Nigeria. Reach millions of buyers across Nigeria.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-content blue">
                                <img src="/Plugins/Bs.VendorSystem/Content/img/marketplace/kinnion_low_commission.png">
                                <h3>LOW COMMISSIONS</h3>
                                <p>
                                    Commission fees are as low as 20%, and you only pay when you successfully sell your product.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-content green">
                                <img src="/Plugins/Bs.VendorSystem/Content/img/marketplace/kinnion_control.png">
                                <h3>GUARANTEED SAFETY</h3>
                                <p>
                                    We take safety & security seriously for both buyers and sellers.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-content dark">
                                <img src="/Plugins/Bs.VendorSystem/Content/img/marketplace/kinnion_easy.png">
                                <h3>24/7 SUPPORT</h3>
                                <p>
                                    We provide various tools to support you including our dedicated merchant support teams.
                                    <br> <br>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-content orange">
                                <img src="/Plugins/Bs.VendorSystem/Content/img/marketplace/kininon_support.png">
                                <h3>FULL CONTROL</h3>
                                <p>
                                    You choose the price for your listings and what you want to upload.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-content purple">
                                <img src="/Plugins/Bs.VendorSystem/Content/img/marketplace/kinnion_guarantee.png">
                                <h3>COMMUNICATION IS EASY</h3>
                                <p>
                                    We make it easy to exchange messages with buyers who may have questions.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center today">
                    <h3>
                        GET STARTED TODAY
                    </h3>
                    <p>
                        Join the largest, safest, and most trusted community of online sellers in Nigeria
                    </p>
                    <a href="/Vendor/Registration" class="action_btn">START SELLING ON OBEEZI</a>
                </div>
            </section>


        </div>
    </div>
</div>

<script>

    var slider_interval = 10000;
    var slider_Limit = 4;
    var fade_speed = 1000;

    $("document").ready(function () {
        var count = 0;
        var count2 = 0;
        $(".logo-scroll li").each(function () {
            $(this).attr("id", "logo" + count++);
        });
        $(".testimony li").each(function () {
            $(this).attr("id", "slider" + count2++);
        });

        var cur = 0
        setInterval(function () {
            cur = cur + 1;
            if (cur >= 5) {
                cur = 0;
            }

            $(".logo-scroll li").removeClass("active");
            $(".logo-scroll li#logo" + cur).addClass("active");

            $(".testimony li").removeClass("active");
            $(".testimony li#slider" + cur).addClass("active");

        }, slider_interval);

    });

</script>
<script>
    $("document").ready(function () {
        $("#header").clone().appendTo("body").addClass("sticky");
        $(".sticky").hide();
    });
    $(window).scroll(function () {

        if ($(this).scrollTop() > 10) {
            $(".sticky").show().fadeIn(0);
        }
        else {
            $(".sticky").hide();
        }
    });
    //how it works
    $("document").ready(function () {

        $(".step1").mouseover(function () {
            $(".laptop img").attr("src", "/Plugins/Bs.VendorSystem/Content/img/marketplace/how1.jpg");

        });
        $(".step2").mouseover(function () {
            $(".laptop img").attr("src", "/Plugins/Bs.VendorSystem/Content/img/marketplace/how2.jpg");

        });
        $(".step3").mouseover(function () {
            $(".laptop img").attr("src", "/Plugins/Bs.VendorSystem/Content/img/marketplace/how3.jpg");

        });
    });

    $("document").ready(function () {
        var menu = 0;
        $(".mobile_menu").click(function () {
            if (menu == 0) {
                $(".main_menu").show();
                menu = 1;
            }
            else {
                $(".main_menu").hide();
                menu = 0;
            }

        });
    });
</script>

<script>
    $(document).ready(function () {
        $('div.master-column-wrapper').addClass('master-column-modify');
        $('div.master-wrapper-content').addClass('master-wrapper-modify');
    });
</script>