﻿@model VendorRegisterModel
@using Nop.Plugin.Bs.VendorSystem.Models
@using Nop.Web.Framework
@using Nop.Web.Framework.Security.Captcha
@using Nop.Web.Framework.Security.Honeypot
@using Nop.Web.Framework.UI
@using Nop.Web.Models.Customer;

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    // Model.CountryId = 186;
    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
}


<script type="text/javascript">
    @*  $(function () {

        var selectedItem = 186;
        var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
        var statesProgress = $("#states-loading-progress");
        statesProgress.show();
        $.ajax({
            cache: false,
            type: "GET",
            url: "@(Url.RouteUrl("GetStatesByCountryId"))",
            data: { "countryId": selectedItem, "addSelectStateItem": "true" },
            success: function (data) {
                ddlStates.html('');
                $.each(data, function (id, option) {
                    ddlStates.append($('<option></option>').val(option.id).html(option.name));
                });
                statesProgress.hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve states.');
                statesProgress.hide();
            }
        });

    });*@
</script>

<script type="text/javascript">
    $(function () {
        $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
            var selectedItem = $(this).val();
            var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
            // var statesProgress = $("#states-loading-progress");
            // statesProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                success: function (data) {
                    ddlStates.html('');
                    $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                    //statesProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                    // statesProgress.hide();
                }
            });
        });
    });
</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page registration-page">
        <div class="page-title">
            <h1>@T("Account.Register")</h1>
        </div>
        <div class="page-body">
            @{
    var validationSummary = Html.ValidationSummary(true);
            }
            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">@validationSummary</div>
            }
            <div class="fieldset">
                <div class="title">
                    <strong>@T("Account.YourPersonalDetails")</strong>
                </div>
                <div class="form-fields">
                    <div class="inputs">
                        @Html.LabelFor(model => model.FirstName, new { }, ":")
                        @Html.EditorFor(model => model.FirstName)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                    <div class="inputs">
                        @Html.LabelFor(model => model.LastName, new { }, ":")
                        @Html.EditorFor(model => model.LastName)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>
                    <div class="inputs">
                        @Html.LabelFor(model => model.Email, new { }, ":")
                        @Html.EditorFor(model => model.Email)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>

                </div>
            </div>


            <div class="fieldset">
                <div class="title">
                    <strong>@T("Account.YourPassword")</strong>
                </div>
                <div class="form-fields">
                    <div class="inputs">
                        @Html.LabelFor(model => model.Password, new { }, ":")
                        @Html.EditorFor(model => model.Password)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                    <div class="inputs">
                        @Html.LabelFor(model => model.ConfirmPassword, new { }, ":")
                        @Html.EditorFor(model => model.ConfirmPassword)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </div>
            </div>


            <div class="fieldset">
                <div class="title">
                    <strong>@T("Account.VendorDetails")</strong>
                </div>
                <div class="form-fields">

                    <div class="inputs">
                        @Html.LabelFor(model => model.Phone, new { }, ":")
                        @Html.EditorFor(model => model.Phone)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.Phone)
                    </div>
                    <div class="inputs">
                        @Html.LabelFor(model => model.AlternatePhoneNumber, new { }, ":")
                        @Html.EditorFor(model => model.AlternatePhoneNumber)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.AlternatePhoneNumber)
                    </div>
                    <div class="inputs">
                        @Html.LabelFor(model => model.StoreName, new { }, ":")
                        @Html.EditorFor(model => model.StoreName)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.StoreName)
                    </div>
                    <div class="inputs">
                        @Html.LabelFor(model => model.Url, new { }, ":")
                        @Html.EditorFor(model => model.Url)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.Url)
                    </div>
                    <div class="inputs">
                        @Html.LabelFor(model => model.Describe, new { }, ":")
                        @Html.EditorFor(model => model.Describe)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.Describe)
                    </div>
                    <div class="inputs">
                        @Html.LabelFor(model => model.StreetAddress, new { }, ":")
                        @Html.EditorFor(model => model.StreetAddress)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.StreetAddress)
                    </div>

                    <div class="inputs">
                        @Html.LabelFor(model => model.CountryId, new { }, ":")
                        @*@Html.EditorFor(model => model.CountryId)*@
                        @Html.DropDownList("CountryId", Model.AvailableCountries)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.CountryId)
                    </div>
                    <div class="inputs">
                        @Html.LabelFor(model => model.StateProvinceId, new { }, ":")
                        @Html.DropDownList("StateProvinceId", Model.AvailableStates)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.StateProvinceId)
                        <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                    </div>
                    <div class="inputs">
                        @Html.LabelFor(model => model.BankName, new { }, ":")
                        @Html.EditorFor(model => model.BankName)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.BankName)
                    </div>
                    <div class="inputs">
                        @Html.LabelFor(model => model.BankAccountName, new { }, ":")
                        @Html.EditorFor(model => model.BankAccountName)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.BankAccountName)
                    </div>
                    <div class="inputs">
                        @Html.LabelFor(model => model.BankAccountNumber, new { }, ":")
                        @Html.EditorFor(model => model.BankAccountNumber)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.BankAccountNumber)
                    </div>
                </div>
            </div>
            <div class="buttons">
                <input type="submit" id="register-button" class="button-1 register-next-step-button" value="@T("Account.Register.Button")" name="register-button" />
            </div>
        </div>
    </div>
}