@model BsVendorNotificationListModelForCustomer
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Plugin.Bs.VendorSystem.Models;
@using Nop.Services.Localization
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Web.Extensions;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Wishlist").Text);
}
<div class="page wishlist-page">
    <div class="page-title">
        <h1>
            @*@T("Wishlist")*@
           @T("Notification.List")
        </h1>
    </div>
    <div class="page-body">
        @if (Model.NotificatioList.Count > 0)
        {
            <div class="wishlist-content">
                @using (Html.BeginRouteForm("Vendor.UnViewNotificationList", FormMethod.Post))
                {
                    <div class="table-wrapper">
                        
                        <table class="cart">
                            <colgroup>
                                <col width="1"/>
                                <col width="1"/>
                                <col/>
                                <col width="1"/>
                            </colgroup>
                            <thead>
                            <tr>
                              
                                <th class="product">
                                    @T("Vendor.Customer")
                                </th>
                                <th class="product">
                                    @T("Vendor.Event")
                                </th>
                                
                                <th class="product">
                                    @T("Vendor.Event.Created.Customer")
                                </th>

                                <th class="product-picture">
                                    @T("ShoppingCart.Image")
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.NotificatioList)
                            {
                                if(item.ItemId == 100)
                                {
                                    <tr>
                                        <td class="product">
                                            <a href="@Url.RouteUrl("Product", new {SeName = item.ProductSeName})" class="product-name">@item.ProductName</a>
                                        </td>
                                        <td class="product">
                                            <p class="vendor-name">Product Liked By</p>
                                        </td>
                                        <td class="product">
                                            <p class="vendor-name">@item.NotifierCustomerName</p>
                                        </td>
                                        <td class="product-picture">
                                            <a href="@Url.RouteUrl("Product", new {SeName = item.ProductSeName})"><img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" /></a>
                                        </td>
                                    </tr>
                                }
                                //follow
                                if (item.ItemId == 300)
                                {
                                    <tr>
                                        <td class="product">
                                            <p class="vendor-name">@item.VendorName</p>
                                        </td>
                                        <td class="product">
                                            <p class="vendor-name">Followed Vendor By</p>
                                        </td>
                                        <td class="product">
                                            <p class="vendor-name">@item.NotifierCustomerName</p>
                                        </td>
                                        <td class="product">
                                            <p class="vendor-name"></p>
                                        </td>
                                    </tr>
                                }
                                //Product Add
                                if (item.ItemId == 500)
                                {
                                    <tr>
                                        <td class="product">
                                            <a href="@Url.RouteUrl("Product", new {SeName = item.ProductSeName})" class="product-name">@item.ProductName</a>
                                        </td>
                                        <td class="product">
                                            <p class="vendor-name">Product Added By</p>
                                        </td>
                                        <td class="product">
                                            <p class="vendor-name">@item.NotifierCustomerName</p>
                                        </td>
                                        <td class="product-picture">
                                            <a href="@Url.RouteUrl("Product", new {SeName = item.ProductSeName})"><img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" /></a>
                                        </td>
                                    </tr>
                                }
                                //OrderPlaced
                                if (item.ItemId == 600)
                                {
                                    <tr>
                                        <td class="product">
                                            <a href="@Url.RouteUrl("Product", new {SeName = item.ProductSeName})" class="product-name">@item.ProductName</a>
                                        </td>
                                        <td class="product">
                                            <p class="vendor-name">Order Placed By</p>
                                        </td>
                                        <td class="product">
                                            <p class="vendor-name">@item.NotifierCustomerName</p>
                                        </td>
                                        <td class="product-picture">
                                            <a href="@Url.RouteUrl("Product", new {SeName = item.ProductSeName})"><img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" /></a>
                                        </td>
                                    </tr>
                                }

                            }
                            </tbody>
                        </table>
                    </div>

                    var pager = Html.Pager(Model.PagerModel);
                    if (!MvcHtmlString.IsNullOrEmpty(pager))
                    {
                        <div class="pager">
                            @pager
                        </div>
                    }

                }
            </div>
        }
        else
        {
            <div class="no-data">
                @T("Vendor.ListEmpty")
            </div>
        }
    </div>
</div>