﻿@{
    Html.AddCssFileParts("~/Plugins/Bs.VendorSystem/content/Style/Like.css");
    var UnViewNotificationList = Url.RouteUrl("Vendor.UnViewNotificationList");
    var AllNotificationList = Url.RouteUrl("Vendor.AllNotificationList");
    //var urlUnLike = Url.RouteUrl("Widgets.Like.CustomerProductUnLike", new { productId = Model.ProductId });
}
@model BsVendorNotificationCountModel
@using Nop.Core
@using Nop.Core.Domain.Customers
@using Nop.Core.Infrastructure
@using Nop.Plugin.Bs.VendorSystem.Models
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;


<li class="notification">
    @if (Model.TotalNumberOfUnviewNotification > 0)
        {
            <a href="@UnViewNotificationList" class="ico-notification">
                <span  class="Notification-qty">
                    <img  class="" alt="" src="~/Plugins/Bs.VendorSystem/content/img/notification_icon.png">
                </span>
                <span class="numberOfNotification">@Model.TotalNumberOfUnviewNotification</span>
            </a>
        }
    else
    {
        <a href="@AllNotificationList" class="ico-notification">
            <span style="line-height: 0;" class="Notification-qty">
                <img style="height: 20px; width: 19px;" class="" alt="" src="~/Plugins/Bs.VendorSystem/content/img/notification_icon.png">
            </span>
        </a>
    }
        
</li>





