﻿@model int
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.UI;
@{
    //register CSS and JS
    Html.AddCssFileParts("~/Plugins/Bs.VendorSystem/Script/fineuploader/fineuploader-4.2.2.min.css");
    Html.AddScriptParts("~/Plugins/Bs.VendorSystem/Script/fineuploader/jquery.fineuploader-4.2.2.min.js");

    //other variables
    var random = CommonHelper.GenerateRandomInteger();
    var clientId = "picture" + random;
    var pictureService = EngineContext.Current.Resolve<Nop.Services.Media.IPictureService>();

    var Display = Model.Equals(0) ? "none" : "block";

    var picture = pictureService.GetPictureById(Model);

}

<div class="picture-box">
    <div id="@(clientId + "value")">
        @Html.HiddenFor(x => x)
    </div>
    <div id="@(clientId + "image")" class="picture-image">
        <img src="@(pictureService.GetPictureUrl(Model))" />
    </div>
    @if (picture != null)
    {
        <div class="picture-remove">
            <span id="@(clientId + "remove")" class="btn-picture-remove">
                <span>
                    @T("Admin.Picture.RemovePicture")
                </span>
            </span>
        </div>
    }
    else
    {
        <div class="picture-remove">
            <span id="@(clientId + "remove")" class="btn-picture-remove" style="display:none;">
                <span>
                    @T("Admin.Picture.RemovePicture")
                </span>
            </span>
        </div>
    }
    @*fine uploader container*@
    <div id="@clientId">
        <noscript>
            <p>
                Please enable JavaScript to use file uploader.
            </p>
            <!-- or put a simple form for upload here -->
        </noscript>
    </div>
    @*fine uploader template (keep it synchronized to \Content\fineuploader\templates\default.html)*@

    <script type="text/template" id="@(clientId)-qq-template">
        <div class="qq-uploader-selector qq-uploader">
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span>@T("Common.FileUploader.DropFiles")</span>
            </div>
            <div class="qq-upload-button-selector qq-upload-button">
                <div>@T("Common.FileUploader.Upload")</div>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>@T("Common.FileUploader.Processing")</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list">
                <li>
                    <div class="qq-progress-bar-container-selector">
                        <div class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span><br class="retry-hide" />

                    @*<span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                        <span class="qq-upload-file-selector qq-upload-file"></span>
                            <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">*@

                    <span class="qq-upload-size-selector qq-upload-size"></span>

                    <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">@T("Common.FileUploader.Cancel")</a>
                    <a class="qq-upload-retry-selector qq-upload-retry" href="#">@T("Common.FileUploader.Retry")</a>
                    <a class="qq-upload-delete-selector qq-upload-delete" href="#">@T("Common.FileUploader.Delete")</a>
                    <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
                </li>
            </ul>
        </div>
    </script>

    <script type="text/javascript">
        if ('@Model' == 0) {
            $("#@(clientId + "image")").hide();
            $("#@clientId").show();
            $("#@(clientId + "remove")").hide();
        } else {
            $("#@clientId").hide();
            $("#@(clientId + "image")").show();
            $("#@(clientId + "remove")").show();
        }
        $(document).ready(function () {
            $("#@(clientId)").fineUploader({
                request: {
                    endpoint: '@(Url.Content("~/Picture/AsyncUpload"))'
                },
                template: "@(clientId)-qq-template",
                multiple: false
            }).on("complete", function (event, id, name, responseJSON, xhr) {
                if (responseJSON.success) {
                    $("#@(clientId + "image")").html("<img src='" + responseJSON.imageUrl + "'/>");
                    $("#@(clientId + "value") input").val(responseJSON.pictureId);
                    $("#@(clientId + "remove")").show();
                    $("#@clientId").hide();
                    $("#@(clientId + "image")").show();
                    //$(".qq-upload-success").show();
                    @*$("#@(clientId + "image")").css('height', $("#@(clientId + "image")").innerWidth());*@

                }
            });

            $("#@(clientId + "remove")").click(function (e) {
                @*$("#@(clientId + "image")").html("<img src='@pictureService.GetDefaultPictureUrl()'/>");*@
                $("#@(clientId + "image")").hide();
                $("#@clientId").show();
                $(".qq-upload-success").hide();
                $("#@(clientId + "value") input").val(0);
                $(this).hide();
            });
        });
    </script>
</div>