﻿
.navbar .logo {
    padding-top: 2px;
}

.navbar-default .navbar-nav > li > a {
    line-height: 45px;
    padding: 0px 5px 1px;
    color: #9ea0a5 !important;
    height: auto;
}

.custom-scrollbar.dropdown-menu li a {
    background: #2b4f81;
    padding: 0 10px 1px;
    color: #9ea0a5 !important;
    line-height: 26px;
}

.dropdown-menu li a:hover, .dropdown-menu li a:active, .dropdown-menu li a:focus {
    background: #2b4f81 !important;
    color: #fff !important;
    -ms-transform: translate(0px,0.2px); /* IE 9 */
    -webkit-transform: translate(0px,0.2px); /* Safari */
    transform: translate(0px,0.2px); /* Standard syntax */
}

.navbar-default {
    background-color: #373C4A !important;
    border-color: transparent !important;
}

.merchant {
    margin-top: 10px !important;
}

.icon-add-red {
    width: 12px;
    height: 12px;
    background: url('/Plugins/Bs.VendorSystem/content/img/icon-add-red.png')center no-repeat;
}

.icon-gt {
    margin: 1px;
    border: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.merchant-page-title .ptit {
    height: 50px !important;
    position: relative !important;
    display: inline-block;
    background: #fff !important;
    margin: 10px auto !important;
}

.btn-product-submit-top {
    top: 18px;
    right: 10px;
    min-width: 80px;
    position: absolute;
    margin: 0 !important;
    border: 0 !important;
    height: 35px !important;
    color: #fff !important;
    border-radius: 3px !important;
    background: #48AF6A !important;
    margin-top: 5px !important;
}

.add-product-page .inputs label, .merchant-panel label, .merchant label {
    text-align: left;
}

.inputs input[type="text"], .inputs input[type="password"], .inputs select, .inputs textarea {
    height: 35px !important;
    box-shadow: none;
    background: #fff;
    border-color: #C4C4CC;
    border-radius: 0 !important;
    padding: 5px;
    margin-bottom: 5px;
    max-width: 100%;
    width: 99% !important;
    border: 1px solid #cacccf;
    font-size: 13px;
}

.add-product-page .add-photo .photo-uploder {
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 115px;
    height: 130px;
}

.add-product-page select {
    background: #FFF url('/Plugins/Bs.VendorSystem/content/img/select-bg.png') no-repeat 98% !IMPORTANT;
    color: #000;
    font-size: 14px !important;
}

.add-product-page .radio-button {
    margin-right: 2px;
    text-align: left !important;
    width: 38%;
    float: left;
}

.add-product-page input[type="radio"] {
    margin-right: 2px;
}

.add-product-page input[type="number"] {
    font-size: 13px;
}

.qq-uploader {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 1;
}

.add-product-page .k-numerictextbox {
    width: 100%;
}

/*first and second category dropdown intially hide */

.vendorProductCreate #firstSubCategory {
    display: none;
}

.vendorProductCreate #secondSubCategory {
    display: none;
}

.vendorProductCreate #lastCategory {
    display: none;
}

    .vendorProductCreate #lastCategory p {
        color: green;
        font-weight: bold;
    }


/*Grid Css*/
.add-product-page #productcolorattributevalues-grid {
    border: 0;
    margin-bottom: 15px;
    border-top: 1px solid #000;
}

    .add-product-page #productcolorattributevalues-grid table thead {
        display: none;
    }

    .add-product-page #productcolorattributevalues-grid table tr {
        background: transparent;
    }

        .add-product-page #productcolorattributevalues-grid table tr td {
            background: transparent;
            color: #393d4d !important;
            font-size: 13px !important;
            height: 25px !important;
            border: 0;
            border-bottom: 1px solid #393d4d;
            padding: 5px 0;
        }

            .add-product-page #productcolorattributevalues-grid table tr td .k-grid-delete {
                background: transparent;
                color: red !important;
                width: auto;
                padding: 0;
                text-align: right;
                border: 0;
                font-size: 13px;
                font-weight: normal;
                float: right;
                height: 20px;
            }

                .add-product-page #productcolorattributevalues-grid table tr td .k-grid-delete .k-delete {
                    display: none;
                }

#vendorattributecombinations-grid {
    border: 0;
    margin-bottom: 15px;
    border-top: 1px solid #000;
}

    #vendorattributecombinations-grid table thead {
        display: none;
    }

    #vendorattributecombinations-grid table tr {
        background: transparent;
    }

        #vendorattributecombinations-grid table tr td {
            background: transparent;
            color: #393d4d !important;
            font-size: 13px !important;
            height: 25px !important;
            border: 0;
            border-bottom: 1px solid #393d4d;
            padding: 5px 0;
        }

            #vendorattributecombinations-grid table tr td .k-grid-delete {
                background: transparent;
                color: red !important;
                width: auto;
                padding: 0;
                text-align: right;
                border: 0;
                font-size: 13px;
                font-weight: normal;
                float: right;
                height: 20px;
            }

                #vendorattributecombinations-grid table tr td .k-grid-delete .k-delete {
                    display: none;
                }

.vendorProductTable tr td {
    text-align: left !important;
    padding-bottom: 5px !important;
    line-height: 30px;
}

.vendorProductTable th {
    background-color: #ddd !important;
}


/*Dashboard Style*/

.dashboardtitle-area {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    font-size: 1.5rem;
    text-transform: capitalize;
    position: relative;
}

    .dashboardtitle-area .page-actions {
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
    }

    .dashboardtitle-area ul li a:hover {
        text-decoration: none;
    }

.dashboardcard {
    background: #fff;
    border: 1px solid #E4E8EB;
    border-radius: 3px;
    padding: 1.5625rem 1.5625rem 0 1.5625rem;
    margin-bottom: 1.875rem;
    color: rgba(21,36,55,0.7);
    box-sizing: border-box;
    overflow: hidden;
}

    .dashboardcard .card-header {
        padding-bottom: 1.25rem;
        border-bottom: 1px solid #DCE0E3;
        font-size: 0.8125rem;
    }

        .dashboardcard .card-header .title {
            margin: 0;
            font-size: 1rem;
            font-weight: 400;
            color: #35608F;
            line-height: 1.1;
            text-transform: uppercase;
            display: inline-block;
        }

    .dashboardcard .right {
        float: right;
        font-size: 12px;
    }

    .dashboardcard .data-container {
        margin: 0;
        max-width: none;
        width: auto;
        box-sizing: border-box;
        margin-left: -1.5625rem;
        margin-right: -1.5625rem;
    }

        .dashboardcard .data-container._3 .datum {
            float: left;
            width: 33.3333333333%;
            box-sizing: border-box;
        }

        .dashboardcard .data-container .datum {
            text-align: center;
            padding: 3.125rem 0;
            position: relative;
            padding-left: 1.5625rem;
            padding-right: 1.5625rem;
            float: none;
            box-sizing: border-box;
        }

            .dashboardcard .data-container .datum .data {
                font-size: 3.625rem;
                font-weight: 500;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: #35608F;
            }

            .dashboardcard .data-container .datum .title {
                font-size: 0.9375rem;
                color: rgba(53,96,143,0.6);
            }

            .dashboardcard .data-container .datum:after {
                content: '';
                height: inherit;
                border-right: 1px solid #EFF3F6;
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
            }

.dasboardbutton {
    font-size: 1.5rem;
    color: #fff;
    padding: 0.5rem 0.9375rem;
    border: 0 solid transparent;
    border-radius: 0.50rem;
    background: #71B92E;
    display: inline-block;
    cursor: pointer;
    line-height: 1rem;
    transition: all 0.3s ease-out;
    line-height: 2;
}

.vendordashboard {
    box-shadow: none !important;
    background: #f0f0f0 !important;
}

.dashboardcard .data-container._4 .has-progress {
    padding-right: 0;
    padding-left: 0;
}

.dashboardcard .data-container._4 .datum {
    float: left;
    width: 25%;
    box-sizing: border-box;
}

.dashboardcard .data-container .datum .progress {
    width: 4.75rem;
    height: 4.4375rem;
    display: inline-block;
    vertical-align: text-top;
    min-height: 50px;
}

.navbar-default .navbar-nav > li > a {
    padding-left: 15px !important;
}

/* Navbar Color*/

.navbar-default {
    background-color: #2b4f81 !important;
}

.navbar .container {
    color: #2b4f81 !important;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #2b4f81 !important;
}

/*PrintPDF Button CSS*/
#exportpackagingslips-selected {
    margin-right: 5px;
    height: 37px;
}

#exportpackagingslips-all {
    background: url('images/btns/btn-defualt.png')repeat-x;
    border: 1px solid #E3E3E3;
    text-align: center;
    color: #303251;
    margin: 0;
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 2px;
    height: 37px;
}

.btn-new-product-add {
    background: #71b92e none repeat scroll 0 0 !important;
    border: 1px solid #93cf93 !important;
    margin-right: 116px !important;
}

#validationMessageForSizeAndColor {
    text-align: center;
    color: red;
    font-size: 18px;
}


/*Added by JASIM*/
.add-product-page .add-photo {
    text-align: center;
}

    .add-product-page .add-photo > .photo-uploder input[type="file"] {
        z-index: 10;
        width: 100%;
        height: 100%;
        border-radius: 0;
        opacity: 0 !important;
    }

    .add-product-page .add-photo .photo-uploder > div > img {
        width: 100%;
        height: 100%;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
    }

    .add-product-page .add-photo .photo-uploder {
        margin: 5px 5px !important;
        width: 120px !important;
        height: 160px !important;
    }

.add-product-page div.qq-upload-button, .add-product-page div.qq-upload-button:hover {
    border-radius: 0;
    width: 120px !important;
    height: 120px !important;
}

    .add-product-page div.qq-upload-button:after {
        content: '';
        border: 1px solid #ddd;
        background: transparent url('/Plugins/Bs.VendorSystem/content/img/icon-fileuploder.png') no-repeat center !important;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

.add-product-page .picture-image {
    width: 120px;
    height: 120px;
}

    .add-product-page .picture-image img {
        width: 100%;
        height: 100%;
    }

.add-product-page .picture-remove {
}

span[id*="remove"] {
    color: red;
    width: 100%;
    margin-top: 5px;
    border-color: red;
    border-radius: 0 !important;
    background: transparent !important;
}

/*span[id*="remove"]:hover {
        color: red;
        border-color: red;
        border-radius: 0 !important;
        background: transparent !important;
    }*/

.picture-remove .btn-picture-remove {
    border: 1px solid red;
    line-height: 30px;
    margin: 5px auto;
    display: block;
}

