﻿

.unfollow-btn { background: url(../img/FollowImages/following.png)no-repeat; line-height: 30px; height: 34px; font-size: 16px; margin-top: 0px; padding: 0; float: right; color: #B4B5C4 !important; text-align: right; padding-top: 3px; padding-left: 104px; display: block; position: absolute; z-index: 10; right: 0; top: 0; }

.follow-btn { background: url(../img/FollowImages/follow.png) no-repeat; line-height: 30px; height: 34px; font-size: 16px; margin-top: 0px; padding: 0; float: right; color: #B4B5C4 !important; text-align: right; padding-top: 3px; padding-left: 104px; display: block; position: absolute; z-index: 10; right: 0; top: 0; }

.un-follow-block-window { position: fixed; top: 40%; left: 45%; z-index: 999; width: 200px; height: 200px; margin: -16px 0 0 -16px; background: url('../Img/FollowImages/following.png') center no-repeat; }

.follow-block-window { position: fixed; top: 40%; left: 45%; z-index: 999; width: 200px; height: 200px; margin: -16px 0 0 -16px; background: url('../Img/FollowImages/follow.png') center no-repeat; }


@media screen and (max-width:480px) {
   
    .un-follow-block-window, .follow-block-window { display: none !important; }
}
