﻿.unlike-btn { background: url(../img/LikeImages/dislike.png)no-repeat; line-height: 30px; height: 34px; font-size: 16px; margin-top: 5px; padding: 0; float: right; color: #B4B5C4 !important; text-align: right; padding-top: 3px; padding-left: 80px; display: block; position: absolute; z-index: 10; right: 0; top: 0; }

.like-btn { background: url(../img/LikeImages/like.png) no-repeat; line-height: 30px; height: 34px; font-size: 16px; margin-top: 5px; padding: 0; float: right; color: #B4B5C4 !important; text-align: right; padding-top: 3px; padding-left: 80px; display: block; position: absolute; z-index: 10; right: 0; top: 0; }

.un-like-block-window { position: fixed; top: 40%; left: 45%; z-index: 999; width: 200px; height: 200px; margin: -16px 0 0 -16px; background: url('../Img/LikeImages/dislike-full.png') center no-repeat; }

.like-block-window { position: fixed; top: 40%; left: 45%; z-index: 999; width: 200px; height: 200px; margin: -16px 0 0 -16px; background: url('../Img/LikeImages/like-full.png') center no-repeat; }

/*Css form Notification*/
.header-links li a.ico-notification {
    width: 60px;
    line-height: 0;
    position: relative;
    vertical-align: middle;
}

    .header-links li a.ico-notification > .Notification-qty {
        line-height: 0;
    }

    .header-links li a.ico-notification .Notification-qty img {
        height: 25px;
        width: 24px;
    }

    .header-links li a.ico-notification .numberOfNotification {
        position: absolute;
        color: #fff;
        background: red;
        width: 22px;
        height: 22px;
        border-radius: 100%;
        text-align: center;
        line-height: 22px;
        top: -10px;
        right: 0px;
    }


    .custom-scrollbar li a.ico-notification {
    width: 60px;
    line-height: 0;
    position: relative;
    vertical-align: middle;
}

    .custom-scrollbar li a.ico-notification > .Notification-qty {
        line-height: 0;
    }

    .custom-scrollbar li a.ico-notification .Notification-qty img {
        height: 25px;
        width: 24px;
    }

    .custom-scrollbar li a.ico-notification .numberOfNotification {
        position: absolute;
        color: #fff;
        background: red;
        width: 22px;
        height: 22px;
        border-radius: 100%;
        text-align: center;
        line-height: 22px;
        top: -10px;
        right: 0px;
    }
    .custom-scrollbar .notification {
            margin-top: 12px;
            margin-right: 10px;
    }
        

@media screen and (max-width:480px) {
    .un-like-block-window, .like-block-window { display: none !important; }
   
}




